In [2]:
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import numpy as np

C:\Users\jorje\AppData\Local\Temp\ipykernel_30244\2714900600.py:4: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
# Civil, Minas, Eléctrica, Computación, Telecomunicaciones, Geofísica, Geológica, Industrial, Mecánica, Petrolera, Mecatrónica, Biomédica, Ambiental, Aeroespacial
careers_keys = ['2232', '2221', '2220', '2223', '2222', '2228', '2231', '2225', '2224', '2229', '2227', '2226', '2230', '2233', '2234'  ]


URL = f"https://www.dgae-siae.unam.mx/educacion/planes.php?acc=est&pde=2221"
driver = webdriver.Chrome()
driver.get(URL)

In [14]:
# Find all the elements with input type "submit" and name "asg", then, extract the value of the "value" attribute and the value 
rows = driver.find_elements(By.XPATH, "//tr[td/@class='CellIco' and td/input]")

data = []
for row in rows:
    # Select all the columns of the tr that contains inside a children td  with a class CellIco
    input_field = row.find_element(By.XPATH, ".//input[@name='asg']")
    course_name = row.find_element(By.XPATH, ".//td[@class='CellDat']").text
    key = input_field.get_attribute('value')
    data.append([course_name, key])

df = pd.DataFrame(data, columns=['course_name', 'key'])
df

                             course_name   key
0                       GEOLOGIA GENERAL  0424
1                                ALGEBRA  1120
2          CALCULO Y GEOMETRIA ANALITICA  1121
3   INTRODUC.INGENIER.MINAS Y METALURGIA  1131
4                 CULTURA Y COMUNICACION  1222
..                                   ...   ...
61  TALLER SOCIOHUMANISTICO: CREATIVIDAD  1795
62    TALLER SOCIOHUMANISTICO: LIDERAZGO  1796
63  SEM. SOCIOHUMANISTICO: HIST PROSP IN  1792
64  SEM. SOCIOHUMANISTICO: ING Y POL PUB  1793
65  SEM. SOCIOHUMANISTICO: ING SUSTENTAB  1794

[66 rows x 2 columns]

In [17]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd

# Lista de claves
careers_keys = ['2232', '2221', '2220', '2223', '2222', '2228', '2231', '2225', '2224', '2229', '2227', '2226', '2230', '2233', '2234']

# Crear el driver
driver = webdriver.Chrome()

# Crear un DataFrame vacío para almacenar los datos
df = pd.DataFrame(columns=['course_name', 'key'])

# Recorrer cada clave
for key in careers_keys:
    # Generar la URL
    URL = f"https://www.dgae-siae.unam.mx/educacion/planes.php?acc=est&pde={key}"
    
    # Navegar a la URL
    driver.get(URL)
    
    # Encontrar todas las filas que contienen una celda con la clase "CellIco" y un elemento input como hijo
    rows = driver.find_elements(By.XPATH, "//tr[td/@class='CellIco' and td/input]")
    
    # Extraer los datos de cada fila y agregarlos al DataFrame
    for row in rows:
        input_field = row.find_element(By.XPATH, ".//input[@name='asg']")
        course_name = row.find_element(By.XPATH, ".//td[@class='CellDat']").text
        key = input_field.get_attribute('value')
        df = df._append({'course_name': course_name, 'key': key}, ignore_index=True)

df

# Exportar el DataFrame a un archivo CSV
#df.to_csv('courses_and_keys.csv', index=False)

# Cerrar el driver
#driver.quit()

                               course_name   key
0                                  ALGEBRA  1120
1            CALCULO Y GEOMETRIA ANALITICA  1121
2     REDACCION Y EXPOSIC TEMAS INGENIERIA  1124
3                      PROGRAMACION BASICA  1127
4                REPRESENTACIONES GRAFICAS  1128
...                                    ...   ...
1064                         MOVILIDAD VII  2206
1065                        MOVILIDAD VIII  2207
1066                          MOVILIDAD IX  2208
1067                           MOVILIDAD X  2209
1068                          MOVILIDAD XI  2210

[1069 rows x 2 columns]